body {
    background-image: url('images/Ellis Rougeou.JPG'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0px;
    background-color: #000000;
    color: white;
    background-attachment: fixed; /* Reset to default when background-active is removed */
}

.hidden-background {
    background-image: none;
    background-color: #000000; /* Fallback color */
}

.text-box {
    background-color: #1e1e1e;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 70%;
    text-align: center;
    margin: 20px auto; /* Center horizontally with margin */
    padding: 20px;
}


#heading {
    min-height: 15rem;
    text-align: center;
    padding: 2rem 2.2rem 2.2rem 2.2rem;
    background-color: rgba(0, 0, 0, 0.9);
    /* Light grey background */
    max-width: 40%;
    /* Limit the width */
    margin: 0 auto;
    /* Center the element horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* Center the element vertically and horizontally */
}

h2 {
    text-align: center;
    font-family: 'freight-text-pro', 'Georgia', 'Times', serif;
    font-size: 2rem;
}

#heading h3 {
    font-size: 2.5rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 22px;
    text-align: center;
    font-family: "freight-text-pro", "Georgia", "Times", serif;
}

#herald-logo {
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

.description {
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

#heading p {
    text-align: left;
    font-style: italic;
}

#byline {
    font-size: 0.7rem;
}

#byline .author {
    background-color: #39346a;
    padding: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-radius: 0.5rem;
    font-weight: 600;
    line-height: 1.5rem;
    white-space: nowrap;
}

.author a {
    color: inherit;
    text-decoration: inherit;
}

a {
    color: #8f85ef;
}


#housing {
    color: white;
    animation: fadeToPurple 2s forwards;
}

@keyframes fadeToPurple {
    to {
        color: #7267d1;
    }
}

.text-box {
    background-color: #1e1e1e;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 70%;
    text-align: left;
    margin: 20px auto; /* Center horizontally with margin */
    padding: 20px;
    line-height: 1.5;
}

#graph-box {
    padding: 5%;
    padding-top: 1%;
    height: 400vh;
}

.dropdown-container {
    text-align: center;
    margin: 0px 0;
}

.dropdown-container label {
    font-size: 1rem;
    font-weight: bold;
    color: #e0e0e0;
}

.dropdown {
    padding: 8px 12px;
    font-size: 1rem;
    border: 2px solid #3f3f3f;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #e0e0e0;
    cursor: pointer;
    margin-left: 20px;
}

.dropdown option {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.enter-button{
    border-radius: 12px; 
    padding: 10px 20px; 
    font-size: 16px;
    color: black;
    background-color: #f7f7f7;
    border: rgb(59, 59, 59) 2px solid;
    cursor: pointer;
    margin-bottom: 22px;
}

.down-arrow {
    animation: bounce 2s infinite;
    font-size: 2rem; /* Increase the size of the down arrow */
    font-weight: bold; /* Make the arrow bold */
    color: #7267d1; /* Change the color to a shade of green */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-5px);
    }
    60% {
        transform: translateY(-2px);
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
    background-color: #151515; /* Darker background for the table */
    color: #e0e0e0; /* Light grey text color */
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #1e1e1e; /* Darker border color */
}

table th {
    background-color: #39346a; /* Slightly darker header background */
    color: #e0e0e0; /* Light grey text color */
}

table tr:nth-child(even) {
    background-color: #252525; /* Darker grey for even rows */
}

@media (max-width: 750px) {
    #herald-logo {
        max-width: 200px;
    }

    #heading {
        width: 70%;
        max-width: 80%;
        padding: 1rem;
    }

    #heading h3 {
        font-size: 2rem;
    }

    .description {
        font-size: 0.9rem;
    }

    #jump-button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .down-arrow {
        font-size: 1.5rem;
    }
    #graph-box {
        padding: 3%;
    }
}