#main {
    width: 100%;
}

#about-text {
    width: 80%;
    margin-left: 10%;
    text-align: justify;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.image-header {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 300px;
    background-image: url('ImageAssets/lowqualheader.png');
}

#process-button {
    width: 100px;
}

.button-container {
    /* Make sure button spans full width row */
    text-align: center;
    height: 50px;
    margin-top: 30px; /* Adds space between the text and the button */
    /* Center-align the button */
}

.button {
    padding: 10px 20px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: white;
    background-color: #ff2121;
    /* Blue color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #d62020;
}

.button:active {
    background-color: #ff2121;
}

.link {
    color: rgb(220, 35, 35);
}

@media (max-width: 425px) {
    #about-text {
        font-size: 14px;
        width: 90%;
        margin-left: 5%;
    }
}

@media (prefers-color-scheme: dark) {
    body {
      color: #eee;
      background: #121212;
    }
    .image-header {
        background-image: url('ImageAssets/darkmodelowqualheader.png');
    }
    .link {
        color: rgb(232, 38, 38);
    }
}