#main {
    width: 100%;
}

#about-text {
    width: 80%;
    margin-left: 10%;
    text-align: justify;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.image-header {
    margin-top: 0px;
    margin-bottom: 8px;
    width: 300px;
}

@media (prefers-color-scheme: dark) {
    body {
      color: #eee;
      background: #121212;
    }
    .image-header {
        background-image: url('darkmodelowqualheader.png');
    }
}