
:root{
    --light-blue: #97c1e6;
    --text-color: white;
    --dark-color: #495d6e;

}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: var(--light-blue);
    color: black;
}

.rotate-mobile {
    display: none;
}

.caption {
    font-family: "freight-text-pro", "Georgia", "Times", serif;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 0.5rem;
    z-index: 300; /* Increased z-index */
    background-color: rgba(255, 255, 255, 0.65); /* Added black background */
    margin-left: auto;
    margin-right: auto;
    width: 40%; /* Make the background full width */
    padding: 0.5rem; /* Add padding for better readability */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.HIDE {
    background-color: rgba(255,255,255,255);
}

#images {
    position: relative;
    height: 100vh;
}

#logo {
    width: 300px;
    height: auto;
}

.flash-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    z-index: -1; /* Decreased z-index */
}

.flash-image.visible {
    opacity: 1;
}

#collage {
    z-index: -1;
}

#heading {
    min-height: 15rem;
    text-align: center;
    padding: 2rem 2.2rem 2.2rem 2.2rem;
    background-color: rgba(255, 255, 255, 0.9);
    /* Light grey background */
    max-width: 40%;
    /* Limit the width */
    margin: 0 auto;
    /* Center the element horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* Center the element vertically and horizontally */
}

.credits-box {
    text-align: center;
    margin-top: 20px;
    padding: 2rem 2.2rem;
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 40%;
    margin: 20px auto;
    box-sizing: border-box;
    color: white;
}

#heading h3 {
    font-size: 2.5rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 22px;
    text-align: center;
    font-family: "freight-text-pro", "Georgia", "Times", serif;
}

.date-change {
    font-size: 2.5rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 22px;
    text-align: center;
    font-family: "freight-text-pro", "Georgia", "Times", serif;
}

#herald-logo {
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

.description {
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

#heading p {
    text-align: left;
    font-style: italic;
}

#byline {
    font-size: 0.7rem;
}

#byline .author {
    background-color: var(--light-blue);
    padding: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-radius: 0.5rem;
    font-weight: bold;
    line-height: 1.5rem;
    white-space: nowrap;
}

.author a {
    color: inherit;
    text-decoration: inherit;
}

a {
    color: var(--dark-color);
}

#red-photos {
    color: white;
    animation: fadeToRed 2s forwards;
}

@keyframes fadeToRed {
    to {
        color: var(--dark-color);
    }
}

#jump-button {
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: #f7f7f7;
    border: rgb(59, 59, 59) 2px solid;
    cursor: pointer;
    margin-bottom: 22px;
}

.down-arrow {
    animation: bounce 2s infinite;
    font-size: 2rem;
    /* Increase the size of the down arrow */
    font-weight: bold;
    /* Make the arrow bold */
    color: var(--dark-color);
    /* Change the color to a shade of green */
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-5px);
    }

    60% {
        transform: translateY(-2px);
    }
}

@media (max-width: 768px) {

    #heading {
        max-width: 80%;
        width: 70%;
        padding: 1.2rem;
    }

    .credits-box {
        max-width: 80%;
        width: 70%;
        padding: 1.2rem;
    }

    #title {
        width: 80%;
        padding: 10px;
    }

    #title h1 {
        font-size: 2em;
        padding-top: 10px;
    }

    #title h2 {
        font-size: 0.8em;
    }

    #herald-logo {
        width: 200px;
    }

    .caption {
        width: 80%;
    }

    .rotate-mobile {
        display: block;
        font-family: "freight-text-pro", "Georgia", "Times", serif;
    }
}
