:root {
  --display: freight-display-pro, Times, serif;
  --bs-body-font-family: public sans, Times, serif;
  --sans: roboto, sans-serif;
  --red: #620f08;
}

nav,
.nav,
section {
  font-family: var(--sans);
}

.nav-pills .nav-link {
  color: var(--red);
}
.nav-pills .nav-link.active {
  color: #fff;
  background-color: var(--red);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  transition: background-color linear 0.5s;
}

header.title {
  font-family: var(--display);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-height: 1000px;
  position: relative;
  color: white;
  aspect-ratio: 1915/1118;
}

#headerImage {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header h2 a {
  color: white !important;
}

section {
  padding-bottom: 1em;
}

section h2 {
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  section h2 {
    font-size: 3em;
  }
}
@media (min-width: 768px) {
  .cols-2-lg {
    columns: 2;
    list-style: none;
    padding: 0;
  }
}

header.title .logo {
  max-width: 25vw;
  object-fit: contain;
  object-position: center 40%;
  filter: invert();
}

h1 {
  font-size: min(11.5vw, 5em);
  text-align: center;
  padding: 0 5vw;
  margin: 0;
  max-width: 1000px;
}

a {
  color: var(--red);
}
a:hover {
  color: #b01b0e;
}

header h2 {
  font-size: 1.25em;
  margin-bottom: 0;
}

article p {
  font-size: 1.18rem;
}
article > h2,
article > ul,
article > p,
article figcaption,
footer p,
article section {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 1rem;
}
article section {
  border: 8px double #aaa;
  border-radius: 25px;
  margin-bottom: 2em;
  padding-bottom: 0;
}

@media (max-width: 768px) {
  article section {
    margin-inline: 0.5rem;
    border-radius: 10px;
    border-width: 6px;
    padding-inline: 0.5rem;
  }
}

figure {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

figure img,
figure video {
  width: 100%;
  object-fit: contain;
}
figcaption {
  width: 100%;
  font-size: 1rem;
  text-align: center;
}
cite {
  font-style: normal;
  font-weight: bold;
}

footer {
  padding: 1em;
  border-top: 1px solid currentColor;
  font-family: var(--sans);
  text-align: center;
}

.section-link {
  text-align: center;
  font-weight: bold;
  font-family: var(--bs-body-font-family);
  color: white !important;
}
.section-link:not(:hover) {
  text-decoration: none;
}
