:root {
  /* --background-color: #fff; */
  /* --accent-color: #6e9fec; */
  /* --byline-color: #e0e0e0; */
  --byline-color: #444444;
  /* --background-color: black;
  --accent-color: #cd611e; */
  --background-color: #20324f;
  --accent-color: #cd611e;
  --text-color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

#map {
  position: sticky;
  top: 0;
  width: 100% !important;
  height: 100vh;
}

#pre-map {
  position: relative;
  z-index: 1;
  padding: 2rem;
  width: 55%;
  margin: 0 auto;
  color: white;
}

.scroll {
  position: relative;
  width: 100%;
}

.marker-boat {
  background-image: url("./images/boat icon.png");
  background-size: cover;
  width: 3em;
  height: 3em;
  cursor: pointer;
  z-index: 4;
}

.marker-fire {
  background-image: url("./images/fire icon.png");
  background-size: cover;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  z-index: 1;
}

.scrolly,
.step,
article {
  width: 0% !important;
  padding: 0 !important;
  opacity: 0;
  pointer-events: none;
}

.scrolly {
  width: 50%;
  /* background-color: #e9eeea; */
  height: auto;
  overflow-y: visible;
}

article {
  position: relative;
  padding: 10rem 0 3rem 0;
  margin: auto;
  max-width: 80%;
}

.step:last-child {
  margin-bottom: 0;
}

#label {
  position: fixed;
  top: 2rem;
  right: 2rem;
  padding: 0.5rem 1rem;
  max-width: 15rem;
  background-color: white;
  font-size: 1rem;
  border-radius: 6px;
  z-index: 9999;

  opacity: 0;
  transition: opacity 0.25s ease;
}

.step {
  margin: 0 auto 30rem 0;
  padding: 1.2rem;
  font-size: 1rem;
  /* background-color: #e9eeea; */
  /* color: #e95c56; */
  /* font-family: "Tahoma"; */
  min-height: 150rem;
  border-radius: 0.5rem;
}

#photo-credit {
  font-size: 0.7rem;
  width: 100%;
  /* font-style: italic; */
  text-align: center;
}

.step p,
p {
  display: inline;
  font-size: 1rem;
  padding: 0;
  vertical-align: text-top;
  font-family: "freight-text-pro", "Times", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3rem;
}

#home {
  visibility: hidden;
}

#heading {
  width: 80%;
  margin: auto;
  min-height: 15rem;
  text-align: center;
  padding: 1rem 2rem 1.2rem 1.2rem;
}

#heading h3 {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 22px;
  text-align: center;
  color: var(--text-color);
}

#heading p {
  text-align: center;
  font-style: italic;
}

#byline {
  font-weight: normal;
  font-family: "Inconsolata", serif;
  font-size: 0.8rem;
  text-align: center;
}

#byline .author {
  background-color: var(--byline-color);
  padding: 0.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 0.5rem;
  font-weight: bold;
  line-height: 1.5rem;
  white-space: nowrap;
  text-align: center;
}

/* override all link formatting */
a {
  color: inherit;
  text-decoration: inherit;
}

#herald-logo {
  max-width: 450px;
  display: block;
  margin: 0 auto;
}

/* mobile formatting */
@media (max-width: 600px) {
  .profile-img {
    width: 100px;
    height: 100px;
  }

  #herald-logo {
    display: block;
    margin: 0 auto;
    max-width: 200px;
  }

  #heading h3 {
    font-size: 1.5rem;
  }

  .step p {
    font-size: 1.1rem;
  }

  #map {
    width: 100%;
  }

  .scrolly {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  article {
    max-width: 60%;
  }

  .step {
    background-color: white;
  }

  #heading {
    text-align: center;
  }

  .scroll {
    flex-direction: column;
  }

  .modal-content {
    width: 80%;
  }
}

#waterfire {
  color: white;
  animation: fadeToAccent 2s forwards;
}

@keyframes fadeToAccent {
  to {
    color: var(--accent-color);
  }
}

#scroll-container {
  position: relative;
  height: 100vh;
  display: flex;
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 6px;
  width: 0%;
  background: var(--accent-color);
  z-index: 9999;
  transition: width 0.1s linear;
}

img {
  max-width: 100%;
  margin-bottom: 0;
}

.embedded-img {
  text-align: center;
}

#toggle-section {
  width: 100%;
}

#toggle-button {
  background: none;
  border: none;
  font-size: 1rem;
  font-family: "freight-text-pro", "Times", serif;
  cursor: pointer;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-color);
}

.toggle-arrow {
  display: inline-block;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  transition: transform 0.2s ease;
  transform-origin: 50% 50%;
}

#toggle-button.open .toggle-arrow {
  transform: rotate(90deg);
}

#toggle-content {
  padding: 1.5rem;
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

#toggle-content.open {
  display: block;
  opacity: 1;
  transform: translateY(0px);
}

.img-step img {
  filter: grayscale(100%);
  transition: filter 1s ease-out;
}

.img-step.active img {
  filter: grayscale(0%);
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 5px;
  overflow: scroll;
  max-height: 35rem;
  max-width: 25rem;
}

.text-container {
  width: 95%;
}

.full-quote {
  font-size: 1.2em;
}

.full-quote i {
  font-size: 0.8em;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: normal;
  cursor: pointer;
}

.close:hover {
  color: black;
  transition-duration: 1s;
}

.blurred {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

.card-title {
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  padding-bottom: 1rem;
}

.text-container {
  width: 95%;
}

.hyperlinked {
  background: none;
  border: none;
  color: #0066cc;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
  font-family: "freight-text-pro", "Times", serif;
  padding: 0;
}

.modal a {
  color: #0066cc;
  text-decoration: underline;
}

.marker {
  /* background-image: url("https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png"); */
  background-image: url("./images/pin.svg");
  background-size: cover;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

ul {
  padding-left: 15px;
  margin-top: 0;
}
