---
title: First Year Poll
relative_prefix: "."
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/mxr8glf.css">
    <link rel="stylesheet" href="{{ relative_prefix }}/assets/styles.css">
    <link rel="icon" href="">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WTGQ6EEKTK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WTGQ6EEKTK');
</script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>