body {
  margin: 0;
  padding: 0;
}

#map {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.marker {
  background-image: url("./images/heart.png");
  background-size: cover;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.scrolly {
  position: relative;
  z-index: 1;
}

article {
  position: relative;
  padding: 8rem 0 30rem 0;
  gap: 5rem;
  max-width: 40%;
  left: 2rem;
}

.step {
  margin: 0 auto 30rem 0;
  padding: 1.2rem;
  font-size: 1rem;
  background-color: #fefefe;
  color: #e95c56;
  font-family: "Tahoma";
  min-height: 10rem;
  border-radius: 0.5rem;
}

.step p {
  display: inline;
  font-size: 1rem;
  padding: 0;
  vertical-align: text-top;
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#home {
  visibility: hidden;
}

#heading {
  min-height: 15rem;
  text-align: left;
  padding: 1rem 2rem 1.2rem 1.2rem;
}

#heading h3 {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  padding: 0;
  margin-top: 16px;
}

#heading p {
  text-align: left;
  font-style: italic;
}

#byline {
  font-weight: normal;
  font-family: "Inconsolata", serif;
  font-size: 0.8rem;
}

#byline .author {
  background-color: #e9e9e9;
  padding: 0.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 0.5rem;
  font-weight: bold;
  line-height: 1.5rem;
  white-space: nowrap;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/* override all link formatting */
a {
  color: inherit;
  text-decoration: inherit;
}

#herald-logo {
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

#love {
  color: #e19299;
}

/* mobile formatting */
@media (max-width: 900px) {
  .profile-img {
    width: 100px;
    height: 100px;
  }

  #herald-logo {
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }

  #heading h3 {
    font-size: 1.5rem;
  }

  .step p {
    font-size: 1rem;
  }

  article {
    max-width: 40%;
    left: 5%;
  }
}

/* mobile formatting */
@media (max-width: 600px) {
  .profile-img {
    width: 80px;
    height: 80px;
  }

  #herald-logo {
    display: block;
    margin: 0 auto;
  }

  #heading h3 {
    font-size: 1.3rem;
  }

  .step p {
    font-size: 1rem;
  }

  article {
    max-width: 70%;
    margin: 0 auto;
    left: 0;
  }
}

/* dark mode formatting */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
  }

  .step {
    background-color: #444;
    color: #ddd;
  }

  #heading h3 {
    color: #eee;
  }

  #byline .author {
    background-color: #e95c56;
  }
}
