:root {
  --all-color: #3a4040;
  --active-color: #19535f;
  --student-color: #d64933;
  --staff-color: #6dc0d5;
  --parent-color: #4caf50;
  --faculty-color: #ad7a99;
  --pvd-color: #cb793a;
  --blue-bg: #638ed0;
}

body {
  margin: 0;
  padding: 2rem;
  background-color: #f5f5f5;
  user-select: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 23rem;
  padding: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.pull-quote {
  font-style: italic;
  font-weight: bold;
}

.card-header,
.card-approval {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

.card-title {
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

.card-affiliations {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.25rem;
}

.card-affiliation {
  font-size: 0.6em;
  color: white;
  border-radius: 15px;
  padding: 0.3rem 1rem;
  text-align: center;
}

.card-affiliation[data-affiliation="Alumni"],
.alumni.active,
.alumni.active:hover {
  background-color: var(--active-color);
  border-color: var(--active-color);
}

.card-affiliation[data-affiliation="Student"],
.student.active,
.student.active:hover {
  background-color: var(--student-color);
  border-color: var(--student-color);
}

.card-affiliation[data-affiliation="Parent/guardian"],
.parent.active,
.parent.active:hover {
  background-color: var(--parent-color);
  border-color: var(--parent-color);
}

.card-affiliation[data-affiliation="Staff"],
.staff.active,
.staff.active:hover {
  background-color: var(--staff-color);
  border-color: var(--staff-color);
}

.card-affiliation[data-affiliation="Faculty"],
.faculty.active,
.faculty.active:hover {
  background-color: var(--faculty-color);
  border-color: var(--faculty-color);
}

.card-affiliation[data-affiliation="Providence community"],
.providence.active,
.providence.active:hover {
  background-color: var(--pvd-color);
  border-color: var(--pvd-color);
}

.all.active,
.all.active:hover {
  background-color: var(--all-color);
  border-color: var(--all-color);
}

.card:hover {
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 5px;
  overflow: scroll;
  max-height: 35rem;
  max-width: 25rem;
}

.text-container {
  width: 95%;
}

.full-quote {
  font-size: 1.2em;
}

.full-quote i {
  font-size: 0.8em;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: normal;
  cursor: pointer;
}

.close:hover {
  color: black;
  transition-duration: 1s;
}

.blurred {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

.filter-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.filter-buttons button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #ddd;
  color: "#000";
}

.filter-buttons button.active {
  background-color: #f5f5f5;
}

.filter-buttons button:hover {
  background-color: #ccc;
  border-color: #ccc;
  transition-duration: 0.5s;
}

.filter-buttons button.p {
  margin-right: 1rem;
}

.filter-buttons button.active:hover {
  background-color: #f5f5f5;
}

.hidden {
  display: none !important;
}

#herald-logo {
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

#heading {
  min-height: 15rem;
  text-align: center;
  padding: 5rem 2rem 2rem 2rem;
  max-width: 35rem;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-left: 2rem;
}

#heading-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("./assets/5.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
}

#page-content {
  margin-top: 100vh;
}

#heading h3 {
  width: 80%;
  margin: 0 auto;
  font-size: 1.5em;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 22px;
}

#heading-photo-caption {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #f5efed;
  padding: 0.02rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 0.5rem;
  line-height: 1.5rem;
  white-space: nowrap;
  font-size: 0.8rem;
}

#heading-photo-caption a {
  color: inherit;
}

.blurb {
  width: 80%;
  margin: 0 auto;
}

.blurb a {
  color: #638ed0;
}

#byline {
  font-weight: normal;
  font-family: "Inconsolata", serif;
  font-size: 0.8rem;
}

#byline a {
  text-decoration: none;
  color: inherit;
}

#byline .author {
  background-color: #638ed0;
  color: #f5f5f5;
  padding: 0.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 0.5rem;
  font-weight: bold;
  line-height: 1.5rem;
  white-space: nowrap;
}

.filter-buttons .close-tag {
  margin-left: 6px;
  cursor: pointer;
}

@media (max-width: 600px) {
  #heading-photo-caption {
    display: none;
  }

  #heading-bg {
    position: flex;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #heading {
    margin: 0 auto;
  }

  .modal-content {
    width: 80%;
  }
}
